@mixin beFlexCenter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.search-contact-container {
    @include beFlexCenter();
    background: #1F1F1F;

    .search-contact {
        background: #313237;
        padding: 10px;
        border-radius: 27px;
        width: 90%;
        @include beFlexCenter();

        input {
            $inputColor: #9FA0A4;
            border: none;
            outline: none;
            background: transparent;
            color: $inputColor;
            font-size: 1.02rem;
            width: 63%;

            &::placeholder {
                color: $inputColor;
            }
        }


        .icon {
            color: #9FA0A4;
            font-size: 1.4rem
        }

        .dropdown {

            button {
                background: transparent;
            }
        
            .dropdown-toggle::after {
                display: none;
            }
        
            .btn-primary {
                border: none;
        
                &:hover {
                    background: none
                }
            }
        
            .btn-primary.dropdown-toggle {
                color: #fff;
                background-color: transparent !important;
                border-color: transparent !important;
        
                &:focus{
                    box-shadow: none !important;
                }
            }

            .dropdown-menu{
                background: #313237;;
                .dropdown-item{
                    color: #d1d1d1;
                    &:hover{
                        background: lighten($color: #313237, $amount: 5%)
                    }
                }
  
            }
        }
    }


}